<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/bundle.js" defer></script>
    <meta charset="utf-8">
    <title>Sullivan Ford</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
